@font-face {
  font-family: 'Lobster';
  src: url('../fonts/Lobster.eot');
  src: local('../fonts/Lobster'),
      url('../fonts/Lobster.eot?#iefix') format('embedded-opentype'),
      url('../fonts/Lobster.woff') format('woff'),
      url('../fonts/Lobster.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}