.photo
  margin-top: 75px
  &-text1
    color: #979393
    font-size: 15px
    font-weight: 400
    line-height: 23px
    margin-left: 15px
    margin-right: 20px
  &-text2
    color: #9f9898
    font-size: 14px
    font-weight: 400
    line-height: 23px
    margin-left: 70px  
  &-block
    display: grid
    grid-template-columns: repeat(auto-fill, 217px )
    grid-column-gap: 39px
    grid-row-gap: 31px
    
  &-element
    height: 279px
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.17)
    border: 1px solid rgba(0, 0, 0, 0.16)
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.1) 0%, rgba(253, 254, 255, 0.1) 5%, rgba(255, 255, 255, 0.1) 100%)
    padding: 7px 7px 10px 7px
    &__image
      margin-bottom: 5px
  &-shere

    &-icon
      box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.23)
      background-color: #b1aeae
      border-radius: 50%
      padding: 5px
      &:hover
       background-color: #283e8f
       cursor: pointer
    &__image
      display: block
      margin-bottom: 10px
    &__star

