.search
  &-block
    margin-top: 42px
    width: 675px
    margin: auto
  &__tittle
    margin-top: 42px
    color: #565555
    font-size: 28px
    font-weight: 700
    line-height: 23px
    margin-bottom: 27px
  &__button
    color: #ffffff
    font-family: "Helvetica CE"
    font-size: 24px
    font-weight: 700
    line-height: 23px
    width: 209px
    height: 46px
    background-image: linear-gradient(to top, #ff6600 0%, #ffa400 100%)
    border: 0
    border-radius: 5px
  &-form
    border: 3px solid #cacaca
    display: inline-flex
    height: 46px
    align-items: center
    margin-right: 12px
    border-radius: 5px

    &__input
      height: 33px
      border: none
      font-size: 26px
      outline: none
    &__button      
      width: 93px
      height: 33px
      background-color: #969292
      opacity: 0.59
      font-size: 18px
      font-weight: 400
      line-height: 23px
      color: #ffffff
      border-radius: 5px
      margin-right: 5px  
